<footer class="container my-4">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>© 2020-2021 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a> . <a href="#">Help</a></p>
  </footer>
