<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="FaceBlog-Heaven For Bloggers">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  <title>FaceBlog-Heaven for bloggers!</title>
  <style>
    .container{
            background-color: black;
            border: 2px solid red;
            width: 80%;
            margin: 10px auto;
            padding: 5px;
            color: white;
        }
        .title{
            text-align: center;
        }
        .btn{
            cursor: pointer;
            background-color: darkred;
            color: cornsilk;
            margin: 2px 2px;
        }
  </style>
</head>

<body>
  <header>
    <%- include('./partials/header'); %>
  </header>
  <!-- carousel code -->

  <div id="carouselExampleCaptions" class="carousel slide carousel-fade"    data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
      <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/images/adventure6.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2>Welcome To FaceBlog</h2>
          <p>Publish Your Experiences.It's free and easy to use</p>
          <button type="button" class="btn btn-warning" id='create' >Create Your Blog</button>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/images/adventure7.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2>Welcome To FaceBlog</h2>
          <p>Publish Your Experiences.It's free and easy to use</p>
          <button type="button" class="btn btn-warning" id='create' >Create Your Blog</button>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/images/adventure5.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2>Welcome To FaceBlog</h2>
          <p>Publish Your Experiences.It's free and easy to use</p>
          <button type="button" class="btn btn-warning" id='create' >Create Your Blog</button>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>
  


<!-- ==================================== -->
    <div class="container" id="contain1">
        <div class="container1">
          Published By Author on <span>date</span>
        </div>
        <div class="title">
            <h2>Title</h2>
        </div>
        <div class="image">
            <img src="macbook.jpg" alt="" height="300" width="500">
        </div>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi, facere! Architecto, itaque fugiat eum optio, obcaecati atque commodi odit dolore totam ex, tempora eligendi. Obcaecati, enim? Eaque asperiores laudantium earum.
        Ipsam eos mollitia voluptatibus esse sed beatae? Temporibus eius, quos, aperiam hic, numquam rerum tempore sed cum nam rem consequuntur perspiciatis quaerat ab esse in voluptates quod odit debitis voluptatum!
        Qui amet nulla mollitia temporibus est repellendus sapiente, deleniti, quis reprehenderit voluptates maxime cumque, dolores ab tenetur harum! Labore cupiditate nam ducimus non voluptate quis explicabo quisquam quibusdam, cum autem!
        
        <div>
            <button class="btn">Edit</button>
        <button class="btn">Update</button>
        <button class="btn">Delete</button>
        </div>
    </div>



 

  <%- include('./partials/footer'); %>
  
</body>
<script>
  let createBlog = document.getElementById('create');
  createBlog.addEventListener("click" , ()=>{
    window.location.href="http://localhost/admin";
  });
</script>

</html>
