<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="FaceBlog-Heaven For Bloggers">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  <title>FaceBlog-Heaven for bloggers!</title>
  <style>
    .background1{
      background-color: orange;
    }
    .background2{
      background-color: blue;
    }
  </style>
</head>

<body>
  <header>
    <%- include('./partials/header'); %>
  </header>
  <!-- carousel code -->

  <div id="carouselExampleCaptions" class="carousel slide carousel-fade"    data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
      <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/images/adventure6.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2>Welcome To FaceBlog</h2>
          <p>Publish Your Experiences.It's free and easy to use</p>
          <button type="button" class="btn btn-warning" id='create' >Create Your Blog</button>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/images/adventure7.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2>Welcome To FaceBlog</h2>
          <p>Publish Your Experiences.It's free and easy to use</p>
          <button type="button" class="btn btn-warning" id='create' >Create Your Blog</button>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/images/adventure5.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2>Welcome To FaceBlog</h2>
          <p>Publish Your Experiences.It's free and easy to use</p>
          <button type="button" class="btn btn-warning" id='create' >Create Your Blog</button>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>
  


<!-- ==================================== -->





  <section class="section choose-design active" id="choose-design" tabindex="0">
    
   <div class="background1">
    <img src="//lh3.googleusercontent.com/EVaQo9gv2ko6xNWFWPFO8DKv-3RqK8J4g0yDcI0P3-hmf-uLSsYOMvRGqicF=d" class="background--layer tools" alt="Tools" sizes="32vw" srcset="//lh3.googleusercontent.com/EVaQo9gv2ko6xNWFWPFO8DKv-3RqK8J4g0yDcI0P3-hmf-uLSsYOMvRGqicF=w32 32w,
    //lh3.googleusercontent.com/EVaQo9gv2ko6xNWFWPFO8DKv-3RqK8J4g0yDcI0P3-hmf-uLSsYOMvRGqicF=w48 48w,
    //lh3.googleusercontent.com/EVaQo9gv2ko6xNWFWPFO8DKv-3RqK8J4g0yDcI0P3-hmf-uLSsYOMvRGqicF=w64 64w,
    //lh3.googleusercontent.com/EVaQo9gv2ko6xNWFWPFO8DKv-3RqK8J4g0yDcI0P3-hmf-uLSsYOMvRGqicF=w96 96w,
    //lh3.googleusercontent.com/EVaQo9gv2ko6xNWFWPFO8DKv-3RqK8J4g0yDcI0P3-hmf-uLSsYOMvRGqicF=w128 128w,
    //lh3.googleusercontent.com/EVaQo9gv2ko6xNWFWPFO8DKv-3RqK8J4g0yDcI0P3-hmf-uLSsYOMvRGqicF=w192 192w,
    //lh3.googleusercontent.com/EVaQo9gv2ko6xNWFWPFO8DKv-3RqK8J4g0yDcI0P3-hmf-uLSsYOMvRGqicF=w256 256w,
    //lh3.googleusercontent.com/EVaQo9gv2ko6xNWFWPFO8DKv-3RqK8J4g0yDcI0P3-hmf-uLSsYOMvRGqicF=w384 384w,
    //lh3.googleusercontent.com/EVaQo9gv2ko6xNWFWPFO8DKv-3RqK8J4g0yDcI0P3-hmf-uLSsYOMvRGqicF=w512 512w,
    //lh3.googleusercontent.com/EVaQo9gv2ko6xNWFWPFO8DKv-3RqK8J4g0yDcI0P3-hmf-uLSsYOMvRGqicF=w768 768w,
    //lh3.googleusercontent.com/EVaQo9gv2ko6xNWFWPFO8DKv-3RqK8J4g0yDcI0P3-hmf-uLSsYOMvRGqicF=w1024 1024w,
    //lh3.googleusercontent.com/EVaQo9gv2ko6xNWFWPFO8DKv-3RqK8J4g0yDcI0P3-hmf-uLSsYOMvRGqicF=w1200 1200w,
    //lh3.googleusercontent.com/EVaQo9gv2ko6xNWFWPFO8DKv-3RqK8J4g0yDcI0P3-hmf-uLSsYOMvRGqicF=d 1600w">

    <img src="//lh3.googleusercontent.com/lpnI6G9VekY80fLOIqhM09I-jDZJOPg32OHvPq3aLnmSAoKf_5Dt6chjBPvGug=d" class="background--layer design1" alt="Preview template" sizes="(min-width: 37.5rem) 59vw, 80vw" srcset="//lh3.googleusercontent.com/lpnI6G9VekY80fLOIqhM09I-jDZJOPg32OHvPq3aLnmSAoKf_5Dt6chjBPvGug=w32 32w,
                 //lh3.googleusercontent.com/lpnI6G9VekY80fLOIqhM09I-jDZJOPg32OHvPq3aLnmSAoKf_5Dt6chjBPvGug=w48 48w,
                 //lh3.googleusercontent.com/lpnI6G9VekY80fLOIqhM09I-jDZJOPg32OHvPq3aLnmSAoKf_5Dt6chjBPvGug=w64 64w,
                 //lh3.googleusercontent.com/lpnI6G9VekY80fLOIqhM09I-jDZJOPg32OHvPq3aLnmSAoKf_5Dt6chjBPvGug=w96 96w,
                 //lh3.googleusercontent.com/lpnI6G9VekY80fLOIqhM09I-jDZJOPg32OHvPq3aLnmSAoKf_5Dt6chjBPvGug=w128 128w,
                 //lh3.googleusercontent.com/lpnI6G9VekY80fLOIqhM09I-jDZJOPg32OHvPq3aLnmSAoKf_5Dt6chjBPvGug=w192 192w,
                 //lh3.googleusercontent.com/lpnI6G9VekY80fLOIqhM09I-jDZJOPg32OHvPq3aLnmSAoKf_5Dt6chjBPvGug=w256 256w,
                 //lh3.googleusercontent.com/lpnI6G9VekY80fLOIqhM09I-jDZJOPg32OHvPq3aLnmSAoKf_5Dt6chjBPvGug=w384 384w,
                 //lh3.googleusercontent.com/lpnI6G9VekY80fLOIqhM09I-jDZJOPg32OHvPq3aLnmSAoKf_5Dt6chjBPvGug=w512 512w,
                 //lh3.googleusercontent.com/lpnI6G9VekY80fLOIqhM09I-jDZJOPg32OHvPq3aLnmSAoKf_5Dt6chjBPvGug=w768 768w,
                 //lh3.googleusercontent.com/lpnI6G9VekY80fLOIqhM09I-jDZJOPg32OHvPq3aLnmSAoKf_5Dt6chjBPvGug=w1024 1024w,
                 //lh3.googleusercontent.com/lpnI6G9VekY80fLOIqhM09I-jDZJOPg32OHvPq3aLnmSAoKf_5Dt6chjBPvGug=w1200 1200w,
                 //lh3.googleusercontent.com/lpnI6G9VekY80fLOIqhM09I-jDZJOPg32OHvPq3aLnmSAoKf_5Dt6chjBPvGug=d 1600w">

                </div>
                <div class="background2">
                  <img src="//lh3.googleusercontent.com/F13JvZjM5cCjOttGTn7eJiqCW21EohcHoqhhoKzwvuJAY8QN0t9uOlgRE_PCug=d" class="background--layer design2" alt="Preview template" sizes="(min-width: 37.5rem) 55vw, 56vw" srcset="//lh3.googleusercontent.com/F13JvZjM5cCjOttGTn7eJiqCW21EohcHoqhhoKzwvuJAY8QN0t9uOlgRE_PCug=w32 32w,
                  //lh3.googleusercontent.com/F13JvZjM5cCjOttGTn7eJiqCW21EohcHoqhhoKzwvuJAY8QN0t9uOlgRE_PCug=w48 48w,
                  //lh3.googleusercontent.com/F13JvZjM5cCjOttGTn7eJiqCW21EohcHoqhhoKzwvuJAY8QN0t9uOlgRE_PCug=w64 64w,
                  //lh3.googleusercontent.com/F13JvZjM5cCjOttGTn7eJiqCW21EohcHoqhhoKzwvuJAY8QN0t9uOlgRE_PCug=w96 96w,
                  //lh3.googleusercontent.com/F13JvZjM5cCjOttGTn7eJiqCW21EohcHoqhhoKzwvuJAY8QN0t9uOlgRE_PCug=w128 128w,
                  //lh3.googleusercontent.com/F13JvZjM5cCjOttGTn7eJiqCW21EohcHoqhhoKzwvuJAY8QN0t9uOlgRE_PCug=w192 192w,
                  //lh3.googleusercontent.com/F13JvZjM5cCjOttGTn7eJiqCW21EohcHoqhhoKzwvuJAY8QN0t9uOlgRE_PCug=w256 256w,
                  //lh3.googleusercontent.com/F13JvZjM5cCjOttGTn7eJiqCW21EohcHoqhhoKzwvuJAY8QN0t9uOlgRE_PCug=w384 384w,
                  //lh3.googleusercontent.com/F13JvZjM5cCjOttGTn7eJiqCW21EohcHoqhhoKzwvuJAY8QN0t9uOlgRE_PCug=w512 512w,
                  //lh3.googleusercontent.com/F13JvZjM5cCjOttGTn7eJiqCW21EohcHoqhhoKzwvuJAY8QN0t9uOlgRE_PCug=w768 768w,
                  //lh3.googleusercontent.com/F13JvZjM5cCjOttGTn7eJiqCW21EohcHoqhhoKzwvuJAY8QN0t9uOlgRE_PCug=w1024 1024w,
                  //lh3.googleusercontent.com/F13JvZjM5cCjOttGTn7eJiqCW21EohcHoqhhoKzwvuJAY8QN0t9uOlgRE_PCug=w1200 1200w,
                  //lh3.googleusercontent.com/F13JvZjM5cCjOttGTn7eJiqCW21EohcHoqhhoKzwvuJAY8QN0t9uOlgRE_PCug=d 1600w">
                </div>


    
  </section>

  <%- include('./partials/footer'); %>
  
</body>
<script>
  let createBlog = document.getElementById('create');
  createBlog.addEventListener("click" , ()=>{
    window.location.href="http://localhost/admin";
  });
</script>

</html>
